<div class="footer" style="background-color: #232f3e" id="myfooter"  style="height:100%">
	<div class="container-fluid" id="">
		<div class="row">
			<div class="row" id="final-footer">
				<div class="col-sm-4">
				</div>
				<div class="col-sm-4 text-center">Copyright © 2016 CDC. All
					Rights Reserved CDC, Bangalore - India</div>
				<div class="col-sm-4 text-right">
					<span class="fa-stack fa-lg"> <i
						class="fa fa-circle text-primary fa-stack-2x"></i> <i
						class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span> <span class="fa-stack fa-lg"> <i
						class="fa fa-circle text-info fa-stack-2x"></i> <i
						class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span> <span class="fa-stack fa-lg"> <i
						class="fa fa-circle text-danger fa-stack-2x"></i> <i
						class="fa fa-youtube fa-stack-1x fa-inverse"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>