<div class="row" ng-if="orderServiceList != ''"
	style="padding-left: 20px; padding-right: 20px; height: 100%; font-family: Helvetica, Arial, serif, Lato; background-image: url('images/pay1.png')">
	<table id="cart" class="table table-hover table-condensed">
		<thead>
			<tr>
				<th style="width: 40%">Product</th>
				<th style="width: 15%">Price</th>
				<th style="width: 10%">Days</th>
				<th style="width: 10%">Hours</th>
				<th style="width: 10%">Status</th>
				<th style="width: 12%">Track Order</th>
			</tr>
		</thead>
		<tbody
			ng-repeat="elements in orderServiceList | pagination: curPage * pageSize | limitTo: 4">
			<tr>
				<td data-th="Product">
					<div class="row">
						<div class="col-sm-4 hidden-xs">
							<img ng-src="images/{{elements.product.productImage}}"
								width="100%" height="100%" alt="..."
								class="img-responsive img-rounded" />
						</div>
						<div class="col-sm-8">
							<h4 class="nomargin">{{elements.consumerPriceID}}</h4>
							<p>{{elements.product.productDescription}}</p>
						</div>
					</div>
				</td>
				<td data-th="Price"><input type="text"
					ng-model="elements.userPrice" class="form-control"
					ng-if="editPrice == true"> <span ng-if="editPrice == false"><i
						class=" fa fa-inr"> </i> {{elements.userPrice}}</span></td>
				<!-- <td data-th="Quantity"><input type="text"
					ng-model="elements.productQuantity" class="form-control"
					ng-if="editPrice == true"> <span ng-if="editPrice == false">{{elements.productQuantity}}</span></td> -->
				<td data-th="Days"><input type="text"
					ng-model="elements.days" class="form-control"
					ng-if="editPrice == true"> <span ng-if="editPrice == false">{{elements.days}}</span></td>
				<td data-th="hours"><input type="text"
					ng-model="elements.hours" class="form-control"
					ng-if="editPrice == true"> <span ng-if="editPrice == false">{{elements.hours}}</span></td>
				<td data-th="Status">{{elements.status}}</td>
				<td data-th="Status"></td>
				<td data-th="track"></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="1" class="hidden-xs">
					<div class="row" ng-if="userQuoteMessage">
						<label> {{userQuoteMessage}}</label>
					</div>
				</td>
			</tr>
		</tfoot>
	</table>

	<div class="row pull-center">
			<div class="pagination-div" ng-show="orderServiceList.length"
				style="background-color: #f1f1f1; padding-left: 10px;">
				<ul style="list-style: none;">
					<li class="col-md-8"></li>
					<li class="col-md-1">
						<button type="button" ng-disabled="curPage == 0"
							class="btn btn-xs btn-warning" style="font-size: 12px;"
							ng-click="curPage=curPage-1">PREV</button>
					</li>
					<li class="col-md-1"><span>Page {{curPage + 1}} of {{
							numberOfPages(orderServiceList)}}</span></li>
					<li class="col-md-1">
						<button type="button"
							ng-disabled="curPage >= orderServiceList.length/pageSize - 1"
							class="btn btn-xs btn-warning" style="font-size: 12px;"
							ng-click="curPage = curPage+1">NEXT</button>
					</li>
				</ul>
			</div>
		</div>

</div>
<div ng-if="orderServiceList == ''"
	style="padding-left: 20px; padding-right: 20px; height: 100%; font-family: Helvetica, Arial, serif, Lato; background-image: url('images/pay1.png')">
	<br /> <br />
	<h4>There are no items.Please continue shopping.</h4>
</div>