<body id="page-top" data-offset="50">
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
			<div class="container-fluid" id="menu" style="height: 90%;">
				<div class="navbar-header page-scroll">
					<button type="button" id="nav-toggle-button"
						class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span><span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#anyHome" data-toggle="tab"
						id="homeMenu" prevent-default="" scroll-to="anyHome"
						ng-click="home()">CDC</a>
				</div>

				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="#anyHome" data-toggle="tab" id="homeMenu"
							prevent-default="" scroll-to="anyHome" ng-click="home()">Home</a></li>
						<li><a href="#vendorHome" data-toggle="tab" id="homeMenu"
							prevent-default="" scroll-to="vendorHome">Exddddclusives</a></li>
						<li class="dropdown"><a href="" class="dropdown-toggle"
							data-toggle="dropdown">Categories<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu"
								style="background-color: #a0a1a0; padding: 0px; border-radius: 5px;">
								<li><a href="#electronics" data-toggle="tab"
									id="electronics" prevent-default="" scroll-to="electronics"
									style="color: white;" ng-click="shopElectronics()">Electronics</a></li>
								<li class="divider"></li>
								<li><a href="#furnitures" data-toggle="tab" id="furnitures"
									prevent-default="" scroll-to="furnitures" style="color: white;"
									ng-click="shopFurnitures()">Furnitures</a></li>
								<li class="divider"></li>
								<li><a href="" ng-click="" style="color: white;">Automobiles</a></li>
								<li class="divider"></li>
								<li><a href="#services" data-toggle="tab" id="services"
									prevent-default="" scroll-to="services" style="color: white;"
									ng-click="shopServices()">Services</a></li>
								<li class="divider"></li>
								<li><a href="" ng-click="" style="color: white;">Health</a></li>
							</ul></li>
						<li ng-show="loginCheck == 1"><a href="#reviews"
							data-toggle="tab" id="homeMenu" prevent-default=""
							scroll-to="reviews" ng-click="reviews()">Purchased</a></li>

					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
					<ul class="nav navbar-nav navbar-right" style="margin-right: 10px;">
						<li ng-if="userEmail != ''"><a role="button"
							href="#showConsumerCart" data-toggle="tab" id="cart"
							prevent-default="" scroll-to="showConsumerCart"
							data-target="#showConsumerCart" ng-click="consumerCart()"><i
								class="fa fa-shopping-cart" id="cart"></i> <span class="badge"
								id="cart">{{cartCount}}</span></a></li>
						<li ng-show="loginCheck == 0"><a href="#signup" role="button"
							data-toggle="modal" data-target="#signup"><span
								class="glyphicon glyphicon-user"></span> Sign Up</a></li>
						<li ng-show="loginCheck == 0"><a href="#login"
							data-toggle="modal" role="button" data-target="#login"><span
								class="glyphicon glyphicon-log-in"></span> Login</a></li>
						<li ng-show="loginCheck == 1" class="class="dropdown""><a
							href="" role="button" class="dropdown-toggle"
							data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>
								Welcome {{userName}}<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu"
								style="background-color: #008081; border-radius: 5px;">
								<li><a href="#myProfile" data-toggle="tab" id="homeMenu"
									prevent-default="" scroll-to="yProfile"
									ng-click="getProfile(); showMyProfile = 1"
									style="color: white;">Profile</a></li>
								<li class="divider"></li>
								<li><a href="#userQuotes" data-toggle="tab" id="homeMenu"
									prevent-default="" scroll-to="userQuotes"
									ng-click="userQuotes(); showUserQuotes = 1"
									style="color: white;">MyQuotes</a></li>
								<li class="divider"></li>
								<li><a href="#acceptedQuotes" data-toggle="tab"
									id="homeMenu" prevent-default="" scroll-to="acceptedQuotes"
									ng-click="acceptedQuotes(); showAcceptedQuotes = 1; pagination()"
									style="color: white;">AcceptedQuotes</a></li>
								<li class="divider"></li>
								<li><a href="#orderedItems" data-toggle="tab" id="homeMenu"
									prevent-default="" scroll-to="orderedItems"
									ng-click="orderedItems(); showOrderedItems = 1"
									style="color: white;">MyOrders</a></li>
								<li class="divider"></li>
								<li><a href="" ng-click="logout()" style="color: white;">Logout</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
		</nav>

	</div>
	<div id="scroller" scroll-spy="" data-target="#navPills"
		ng-show="scroll == 1" data-scroll-offset="82"
		style="font-family: Lato; height: 100%">
		<!-- <div id="anyHome" style="padding-top: 0px; padding-left: 0px;">
			<div ng-include="'views/anyHome.html'"></div>
		</div>
		<div id="electronics" style="padding-top: 0px;">
			<div ng-include="'views/electronics.html'"></div>
		</div>
		<div id="furnitures" style="padding-top: 0px;">
			<div ng-include="'views/furnitures.html'"></div>
		</div>
		<div id="services" style="padding-top: 0px;">
			<div ng-include="'views/services.html'"></div>
		</div> -->
		<div id="anyHome" style="height: 100%;padding-top: 50px;">
			<div ng-include="'views/publicHome.html'"></div>
		</div>
		<div style="padding-top: 50px;">
			<div ng-include="'views/footer.html'" style="height: 100%"></div>
		</div>
	</div>
	<div id="reviews" scroll-spy="" data-target="#navPills"
		ng-if="showReviews == 1" data-scroll-offset="92"
		style="padding-top: 50px; padding-left: 0px; height: 100%">
		<div ng-include="'views/reviews.html'" style="height: 100%"></div>

	</div>


	<!---------------------------------------------  LOGIN MODAL ----------------------------------------->
	<div class="modal fade" id="login" role="dialog"
		aria-labelledby="mySmallModalLabel1" style="padding: 20px;">
		<div class="modal-dialog modal-content modal-sm login-dp"
			style="padding: 10px;">
			<div
				style="text-align: center; background-color: #164b73; color: white; padding: 5px; border-radius: 3px;">
				<strong>Please sign in</strong>
			</div>
			<div class="social-buttons">
				<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i>Facebook</a>
				<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i>Twitter</a>
			</div>
			<form class="form" role="form" method="post" action="login"
				id="login-nav">
				<div class="form-group">
					<label class="sr-only">Email Address</label> <input type="email"
						class="form-control" placeholder="Email Address" ng-model="email"
						required="required">
				</div>
				<div class="form-group">
					<label class="sr-only">Password</label> <input type="password"
						ng-model="password" class="form-control" placeholder="Password"
						required="required">
				</div>
				<div class="form-group">
					<button ng-click="login()" class="btn btn-primary btn-block"
						role="button">Sign in</button>
				</div>
				<div class="modal-body" ng-if="errorMessage"
					style="color: red; font-size: 15px; padding: 5px;">{{errorMessage}}</div>
				<div class="checkbox">
					<label> <input type="checkbox"> Keep me logged in
					</label>
				</div>
			</form>
			<div class="bottom text-center"
				style="padding: 2px; border-radius: 5px;">
				New here? <a href="#joinus" role="button" data-toggle="modal"
					data-target="#joinus"><b>Join us</b></a>
			</div>
		</div>
	</div>

	<!---------------------------------------------  SIGNUP MODAL ----------------------------------------->
	<div class="modal fade" id="signup" role="dialog"
		aria-labelledby="mySmallModalLabel" style="padding: 20px;">
		<div class="modal-dialog modal-content modal-sm login-dp signup-body"
			style="padding: 10px; max-height: calc(100vh - 50px); overflow-y: auto; border-radius: 10px;">
			<div class="form-group">
				<div class="col-sm-12">
					<div
						style="text-align: center; background-color: #1f4e74; color: white; padding: 5px; border-radius: 3px;">
						<strong>Please sign up</strong>
					</div>
				</div>
			</div>
			<br />
			<form class="form" role="form" method="post" action="login"
				id="login-nav" style="color: grey;">
				<div class="form-group">
					<div class="col-sm-6">
						<label class="control-label">Email Address</label>
						<div class="input-group">
							<span class="input-group-addon"><i
								class="fa fa-envelope fa" aria-hidden="true"></i></span> <input
								type="email" class="form-control" required="required"
								ng-model="signupEmail">
						</div>
					</div>
					<div class="col-sm-6">
						<label class="control-label">Fullname</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa"
								aria-hidden="true"></i></span> <input type="text" class="form-control"
								required="required" ng-model="signupFullname">
						</div>
					</div>
				</div>
				&nbsp;
				<div class="form-group">
					<div class="col-sm-6">
						<label class="control-label">Password</label>
						<div class="input-group">
							<span class="input-group-addon"><i
								class="fa fa-lock fa-lg" aria-hidden="true"></i></span> <input
								type="password" class="form-control" required="required"
								ng-model="signupPassword">
						</div>
					</div>
					<div class="col-sm-6">
						<label class="control-label">Confirm Password</label>
						<div class="input-group">
							<span class="input-group-addon"><i
								class="fa fa-lock fa-lg" aria-hidden="true"></i></span> <input
								type="password" class="form-control" required="required">
						</div>
					</div>
				</div>
				&nbsp;
				<div class="form-group" ng-show="vendor">
					<div class="col-sm-6">
						<label class="control-label">Vendor Location</label>
						<div class="input-group">
							<span class="input-group-addon"><i
								class="fa fa-location-arrow" aria-hidden="true"></i></span> <input
								type="text" class="form-control" ng-model="vendorLocation">
						</div>
					</div>
					<div class="col-sm-6">
						<label class="control-label">Vendor Category</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-tags"
								aria-hidden="true"></i></span> <select class="form-control"
								ng-model="serviceType">
								<option>Products</option>
								<option>Services</option>
								<option>Both</option>
							</select>
						</div>
					</div>
				</div>
				&nbsp;
				<div class="form-group" ng-show="serviceType && vendor">
					<div class="col-sm-12">
						<label class="control-label">Vendor Services</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-shield"
								aria-hidden="true"></i></span> <select class="form-control"
								ng-model="proser" multiple="multiple">
								<option
									ng-if="serviceType == 'Products' || serviceType == 'Both'">Electronics</option>
								<option
									ng-if="serviceType == 'Products' || serviceType == 'Both'">Furnitures</option>
								<option
									ng-if="serviceType == 'Products' || serviceType == 'Both'">Automobiles</option>
								<option
									ng-if="serviceType == 'Services' || serviceType == 'Both'">ResidentialCleaning</option>
								<option
									ng-if="serviceType == 'Services' || serviceType == 'Both'">Laundry</option>
								<option
									ng-if="serviceType == 'Services' || serviceType == 'Both'">RepairGadgets</option>
								<option
									ng-if="serviceType == 'Services' || serviceType == 'Both'">Counselling</option>
							</select>
						</div>
					</div>
				</div>
				&nbsp;
				<div class="form-group">
					<div class="col-sm-6">
						<label> <input type="checkbox" ng-model="vendor">
							Vendor/Service provider?
						</label>
					</div>
				</div>
				&nbsp;
				<div class="modal-body" ng-if="errorMessage"
					style="color: red; font-size: 15px; padding: 5px;">{{errorMessage}}</div>
				&nbsp;
				<div class="form-group">
					<div class="col-sm-12">
						<button type="submit" ng-click="signup()"
							class="btn btn-primary btn-block" href="#signupConfirmation"
							role="button" data-toggle="modal"
							data-target="#signupConfirmation">Sign up</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal hide fade" id="signupConfirmation" role="dialog"
		aria-labelledby="mySmallModalLabel" style="padding: 20px;">
		<div class="modal-dialog modal-content modal-sm login-dp signup-body"
			style="padding: 10px; background-color: #082d37; color: white;">Thanks
			for your sign up. Please check your email to confirm.</div>
		<div>
			<button type="submit" data-dismiss="modal"
				class="btn btn-primary btn-block">Ok</button>
		</div>
	</div>



	<!---------------------------------------------  ELECTRONICS PRODUCTS CATALOG ----------------------------------------->
	<div id="scroller" scroll-spy="" ng-show="products == 1"
		data-scroll-offset="82" style="font-family: Lato; margin-top: 50px;">
		<div id="showelectronic" ng-show="showelectronics == 1">
			<div ng-include="'views/electronicsCatalog.html'"></div>
		</div>
	</div>
	<div id="scroller" scroll-spy="" ng-show="products == 1"
		data-scroll-offset="82" style="font-family: Lato; margin-top: 50px;">
		<div id="showFurniture" ng-show="showFurnitures == 1">
			<div ng-include="'views/furnituresCatalog.html'"></div>
		</div>
	</div>
	<div id="scroller" scroll-spy="" ng-show="products == 1"
		data-scroll-offset="82" style="font-family: Lato; margin-top: 50px;">
		<div id="showService" ng-show="showServices == 1">
			<div ng-include="'views/servicesCatalog.html'"></div>
		</div>
	</div>
	<div id="scroller" scroll-spy="" ng-show="showConsumerCart == 1"
		data-scroll-offset="82" style="font-family: Lato; height: 100%">
		<div id="showConsumerCart" ng-show="showConsumerCart == 1"
			style="padding-left: 0px; height: 100%">
			<div ng-include="'views/consumerCart.html'" style="height: 100%"></div>
		</div>
	</div>

	<div id="scroller" scroll-spy="" ng-show="showMyProfile == 1"
		data-scroll-offset="82" style="font-family: Lato; height: 100%">
		<div id="showMyProfile" ng-show="showMyProfile == 1"
			style="padding-left: 0px; height: 100%">
			<div ng-include="'views/profile.html'" style="height: 100%"></div>
		</div>
	</div>
	<div id="scroller" scroll-spy="" ng-show="showUserQuotes == 1"
		data-scroll-offset="82" style="font-family: Lato; height: 100%">
		<div id="showUserQuotes" ng-show="showUserQuotes == 1"
			style="padding-left: 0px; height: 100%">
			<div ng-include="'views/consumerQuotes.html'" style="height: 100%"></div>
		</div>
	</div>

	<div id="scroller" scroll-spy="" ng-show="showAcceptedQuotes == 1"
		data-scroll-offset="82" style="font-family: Lato; height: 100%">
		<div id="showAcceptedQuotes" ng-show="showAcceptedQuotes == 1"
			style="padding-left: 0px; height: 100%">
			<div ng-include="'views/vendorAcceptedQuotes.html'"
				style="height: 100%"></div>
		</div>
	</div>

	<div id="scroller" scroll-spy="" ng-show="showCheckout == 1"
		data-scroll-offset="82" style="font-family: Lato; height: 100%">
		<div id="showCheckout" ng-show="showCheckout == 1"
			style="padding-left: 0px; height: 100%">
			<div ng-include="'views/checkout.html'" style="height: 100%"></div>
		</div>
	</div>

	<div id="scroller" scroll-spy="" ng-show="showOrderedItems == 1"
		data-scroll-offset="82" style="font-family: Lato; height: 100%">
		<div id="showOrderedItems" ng-show="showOrderedItems == 1"
			style="padding-left: 0px; height: 100%">
			<div ng-include="'views/orderedItems.html'" style="height: 100%"></div>
		</div>
	</div>

	<div id="scroller" scroll-spy="" ng-show="showReviewItems == 1"
		data-scroll-offset="82" style="font-family: Lato; margin-top: 50px;">
		<div id="showReviewItems" ng-show="showReviewItems == 1">
			<div ng-include="'views/viewreview.html'"></div>
		</div>
	</div>

	<!---------------------------------------------  FOOTER ----------------------------------------->
</body>
